body {
  background-color: #ffffff;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  height: 1200px;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;

}

header {
  grid-column: span 12;
  background-color: #A5EBFF;
  color: black;
  font-family: Courier, Helvetica, Arial;
  padding-left: 24px;
  font-size: 24px;
}

h2 {
  text-decoration: underline;
}

h1 {

  text-shadow: 4px 4px 0px #fff; /* x, y, blur, color */
  font-family: 'Kiwi Maru', serif;
}

#mainimg {


  width: 485px;
  height: 580px;
  border: 10px solid;
  padding: 0px;
grid-column: span 5;
margin-top: 40px;




}

.isu {

  height: 600px;
  width: 500px;
  padding-left: 75px;
  grid-column: span 5;



}

img {
  grid-column: span 4;
  padding-top: 20px;
  width: 410px;
  height: 190px;
  padding-right: 0px;

}

.blueimg2 {
 width: 416px;
 padding-right: 0px;

}

.img1 {
  width: 385px;
  padding-right: 20px;
}

nav {
  grid-column: span 12;


}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {

 margin-bottom: 24px;
 border: 1px solid #000000;
 width: 370px;
 display: inline-block;
 margin-top: 25px;
 margin-right: 24px;
 margin-bottom: 0px;


}

nav li a {
 display: block;
 background-color: #A5EBFF;
 color: black;
 border: 10px;
 font-family: Courier, Helvetica, Arial;
 font-weight: bold;
text-decoration: none;
font-size: 30px;
padding-left: 30px;
padding-right: 30px;
padding-top: 10px;
padding-bottom: 10px;
transition: background-color 0.5s;
}

nav li a:hover {

  background-color: #1591C9;
  color: white;
}

main {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;

}

section {
  grid-column: span 6;
   grid-template-rows: 1fr 1fr;
  font-family: Courier, Helvetica, Arial;
  font-size: 30px;

}


.dropshadowbox {
  padding: 10px;
  width: 600px;
  height: 200px;
  box-shadow: 10px 10px 10px #666;
  grid-column: span 12;
  font-size: 20px;
  float: left;
  margin-bottom: 40px;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);


}

.dropshadowbox:hover {
  color: white;
  background-image: linear-gradient(to right top, #ed0000, #ff2453, #ff5290, #fe7bc2, #eda0e5);
}

footer {
  grid-column: span 12;
  font-size: 24px;
  background-color: #A5EBFF;
  color: black;
  font-style: italic;
  padding-left: 300px;
}
